@import './share.less';

.container-bio{
  background-color: #CCD6B2;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  min-height:60vh;
  .container-padding;
}

.bio-item1{
  flex: 1;
}

.bio-item1 h1 {
  font-family: Tangerine;
  margin: 0;
  padding: 1.5rem 0;
  .title-size;  
}

.title-size (@size: 0.1rem) {
  @media @for-phone-only {
    font-size: @size * 28;
  }
  @media @for-tablet-portrait-up {
    font-size: @size * 30;
  }
  @media @for-tablet-landscape-up {
    font-size: @size * 32;
  }
  @media @for-desktop-up {
    font-size: @size * 36;
  }
  @media @for-big-desktop-up {
    font-size: @size * 80;
  }
}

.bio-item2{
  flex: 1;
}

.bio-item2 .avatar {
  border-radius: 50%;
  float: left;
    @media @for-phone-only {
      width: 8rem;
      margin: 1rem;
      float: initial;
    }
    @media @for-tablet-portrait-up {
      width: 10rem;
      margin: 2rem;
      float: initial;
    }
    @media @for-tablet-landscape-up {
      width: 12rem;
      margin: 3rem;
    }
    @media @for-desktop-up {
      width: 12rem;
      margin: 3rem;
    }
    @media @for-big-desktop-up {
      width: 35rem;
      margin: 6rem;
    }
}

.bio-item2 p{
  text-align: justify;
  font-weight: 50;
  margin: 0;
  .bio-item2-p-font-size;
}