@import './share.less';

.container-bio{
  background-color: #CCD6B2;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  min-height:100vh;
  padding: 2rem;
    @media @for-phone-only {
      padding: 3vw;
    }
    @media @for-tablet-portrait-up {
      padding: 3vw;
    }
    @media @for-tablet-landscape-up {
      padding: 3vw;
    }
    @media @for-desktop-up {
      padding: 3vw;
    }
    @media @for-big-desktop-up {
      padding: 3vw;
    }
}

.bio-item1{
  flex: 1;
}

.bio-item1 h1 {
  font-family: Tangerine;
  font-size: 5rem;
  margin: 0;
  padding: 1rem;  
  @media @for-phone-only {
    font-size: 3.2rem;
  }
  @media @for-tablet-portrait-up {
    font-size: 4rem;
  }
  @media @for-tablet-landscape-up {
    font-size: 5rem;
  }
  @media @for-desktop-up {
    font-size: 6rem;
  }
  @media @for-big-desktop-up {
    font-size: 12rem;
  }
}

.bio-item2{
  flex: 1;
}

.bio-item2 .avatar {
  width: 20rem;
  margin: 3rem;
  border-radius: 50%;
  float: left;
    @media @for-phone-only {
      width: 10rem;
      margin: 1rem;
      float: initial;
    }
    @media @for-tablet-portrait-up {
      width: 16rem;
      margin: 1rem;
      float: initial;
    }
    @media @for-tablet-landscape-up {
      width: 20rem;
      margin: 1rem;
      float: initial;
    }
    @media @for-desktop-up {
      width: 22rem;
      margin: 1rem;
      float: initial;
    }
    @media @for-big-desktop-up {
      width: 35rem;
      margin: 1rem;
      float: initial;
    }
}

.bio-item2 p{
  font-size:1.5rem;
  text-align: justify;
  margin: 0;
  @media @for-phone-only {
    font-size: 1rem;
    padding: 1rem 1rem;
  }
  @media @for-tablet-portrait-up {
    font-size: 1.8rem;
    padding: 1rem 2rem;
  }
  @media @for-tablet-landscape-up {
    font-size: 1.8rem;
    padding: 1rem 2rem;
  }
  @media @for-desktop-up {
    font-size: 2rem;
    padding: 1rem 2rem;
  }
  @media @for-big-desktop-up {
    font-size: 4.5rem;
    padding: 1rem 2rem;
  }
}

