@import './share.less';

.container-it{
  background-color: #656B56;
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  align-items: center;
  min-height: 60vh;
  .container-padding;
    @media @for-phone-only {
      justify-content: flex-start;
    }
    @media @for-tablet-portrait-up {
      justify-content: space-evenly;
    }
    @media @for-tablet-landscape-up {
      justify-content: space-evenly;
    }
    @media @for-desktop-up {
      justify-content: space-evenly;
    }
    @media @for-big-desktop-up {
      justify-content: space-evenly;
    }
}

.container-it h1{
  font-family: Lateef;
  font-size: 4rem;
  font-weight: lighter;
  margin:0;
  .title-size;
}

.it-item1{
  flex: 1 0;
  padding: 0.5rem;
}

.it-item2{
  flex: 1 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.it-item-icon{
  .flex-item-size;
}

.icon-skill-2{
  .icon-skill-size;
}

.colored.icon-skill-2{
  // color: beige;
}

.it-item2 p {
  .icon-caption-size;
}