@import './share.less';


.container-web{
  background-color: #EBEBEB;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  min-height:20rem;
  padding: 1rem;
    @media @for-phone-only {
      justify-content: space-evenly;
      min-height: 100vh;
      padding: 0.5rem;
    }
    @media @for-tablet-portrait-up {
      justify-content: space-evenly;
      min-height: 100vh;
    }
    @media @for-tablet-landscape-up {
      justify-content: flex-start;
      min-height: 100vh;
    }
    @media @for-desktop-up {
      justify-content: flex-start;
      min-height: 100vh;
    }
    @media @for-big-desktop-up {
      justify-content: flex-start;
      min-height: 65vh;
    }
}

.container-web h1{
  font-family: Lateef;
  font-weight: lighter;
  margin:0;
  padding: 2rem 0;
    @media @for-phone-only {
      font-size: 2.5rem;
    }
    @media @for-tablet-portrait-up {
      font-size: 4rem;
    }
    @media @for-tablet-landscape-up {
      font-size: 5rem;
    }
    @media @for-desktop-up {
      font-size: 6rem;
    }
    @media @for-big-desktop-up {
      font-size: 12rem;
    }
}

.web-item1{
  flex-basis: 100%;
  padding: 1rem;
}

.web-item2{
  flex-basis: 17.5rem;
  padding: 0;  
    @media @for-phone-only {
      flex-basis: 24vw;
    }
    @media @for-tablet-portrait-up {
      flex-basis: 20vw;
      padding: 1vw;
    }
    @media @for-tablet-landscape-up {
      flex-basis: 22vw;
    }
    @media @for-desktop-up {
      flex-basis: 22vw;
    }
    @media @for-big-desktop-up {
      flex-basis: 10vw;
    }
}

.icon-skill{
  font-size: 8rem;
    @media @for-phone-only {
      font-size: 20vw;
    }
    @media @for-tablet-portrait-up {
      font-size: 17vw;
    }
    @media @for-tablet-landscape-up {
      font-size: 14vw;
    }
    @media @for-desktop-up {
      font-size: 14vw;
    }
    @media @for-big-desktop-up {
      font-size: 10vw;
      padding: 3rem;
    }
}

.container-web p {
  font-weight: lighter;
    @media @for-phone-only {
      font-size: 3vh;
    }
    @media @for-tablet-portrait-up {
      font-size: 3vh;
    }
    @media @for-tablet-landscape-up {
      font-size: 3vh;
    }
    @media @for-desktop-up {
      font-size: 3vh;
    }
    @media @for-big-desktop-up {
      font-size: 4vh;
    }
}