@import './share.less';

.container-web{
  background-color: #EBEBEB;
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  align-items: center;
  min-height:20rem;
  .container-padding;
    @media @for-phone-only {
      justify-content: space-evenly;
      min-height: 100vh;
    }
    @media @for-tablet-portrait-up {
      justify-content: space-evenly;
      min-height: 100vh;
    }
    @media @for-tablet-landscape-up {
      justify-content: space-evenly;
      min-height: 100vh;
    }
    @media @for-desktop-up {
      justify-content: space-evenly;
      min-height: 100vh;
    }
    @media @for-big-desktop-up {
      justify-content: flex-start;
      min-height: 65vh;
    }
}

.container-web h1{
  font-family: Roboto;
  font-weight: 50;
  margin:0;
  padding: 1.5rem 0;
  .title-size;
}

.web-item1{
  flex: 1 0;
  padding: 0.5rem;
}

.web-item2{
  flex: 1 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.web-item-icon{
  .flex-item-size;
}

.icon-skill{
  .icon-skill-size;
}

.colored.icon-skill{
  // color: darkslategrey;
}

.web-item2 p {
  .icon-caption-size;
}