@import './share.less';


.container-web{
  background-color: #EBEBEB;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  min-height:20rem;
  padding: 1rem;
    @media @for-phone-only {
      justify-content: space-evenly;
      min-height: 100vh;
      padding: 0.5rem;
    }
    @media @for-tablet-portrait-up {
      justify-content: space-evenly;
      min-height: 100vh;
    }
    @media @for-tablet-landscape-up {
      justify-content: flex-start;
      min-height: 100vh;
    }
    @media @for-desktop-up {
      justify-content: flex-start;
      min-height: 100vh;
    }
    @media @for-big-desktop-up {
      justify-content: flex-start;
      min-height: 65vh;
    }
}

.container-web h1{
  font-family: Lateef;
  font-weight: lighter;
  margin:0;
  padding: 2rem 0;
  .title-size;
}

.web-item1{
  flex-basis: 100%;
  padding: 1rem;
}

.web-item2{
  .flex-item-size;
}

.icon-skill{
  .icon-skill-size;
}

.container-web p {
  .icon-text-size;
}