@import './share.less';

.container-it{
  background-color: #656B56;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 65vh;
  padding: 2rem;
    @media @for-phone-only {
      padding: 3vw;
      justify-content: flex-start;
    }
    @media @for-tablet-portrait-up {
      padding: 3vw;
      justify-content: space-evenly;
    }
    @media @for-tablet-landscape-up {
      padding: 3vw;
      justify-content: space-evenly;
    }
    @media @for-desktop-up {
      padding: 3vw;
      justify-content: space-evenly;
    }
    @media @for-big-desktop-up {
      padding: 3vw;
      justify-content: space-evenly;
    }
}

.container-it h1{
  font-family: Lateef;
  font-size: 4rem;
  font-weight: lighter;
  margin:0;
  .title-size;
}

.it-item1{
  flex: 1 0 100%;
  padding: 1rem;
}

.it-item2{
  .flex-item-size;
}


.icon-skill-2{
  .icon-skill-size;
}

.container-it p {
  .icon-text-size;
}