@for-phone-only: ~"only screen and (max-width: 599px)";
@for-tablet-portrait-up: ~"only screen and (min-width: 600px) and (max-width: 899px)";
@for-tablet-landscape-up: ~"only screen and (min-width: 900px) and (max-width: 1201px)";
@for-desktop-up: ~"only screen and (min-width: 1200px) and (max-width: 1799px)";
@for-big-desktop-up: ~"only screen and (min-width: 1800px)";

.title-size (@size: 0.1rem) {
  @media @for-phone-only {
      font-size: @size * 26;
    }
    @media @for-tablet-portrait-up {
      font-size: @size * 28;
    }
    @media @for-tablet-landscape-up {
      font-size: @size * 30;
    }
    @media @for-desktop-up {
      font-size: @size * 32;
    }
    @media @for-big-desktop-up {
      font-size: @size * 120;
    }
}

.container-padding () {
  @media @for-phone-only {
    padding: 3vh 5vw;
  }
  @media @for-tablet-portrait-up {
    padding: 3vh 6vw;
  }
  @media @for-tablet-landscape-up {
    padding: 3vh 7vw;
  }
  @media @for-desktop-up {
    padding: 3vh 8vw;
  }
  @media @for-big-desktop-up {
    padding: 3vh 8vw;
  }
}

.bio-item2-p-font-size (@size: 0.1rem) {
  @media @for-phone-only {
    font-size: @size * 9;
    padding: 1rem 1rem;
  }
  @media @for-tablet-portrait-up {
    font-size: @size * 9;
    padding: 1rem 2rem;
  }
  @media @for-tablet-landscape-up {
    font-size: @size * 10;
    padding: 1rem 2rem;
  }
  @media @for-desktop-up {
    font-size: @size * 10.5;
    padding: 1rem 3rem;
  }
  @media @for-big-desktop-up {
    font-size: @size * 20;
    padding: 1rem 3rem;
  }
}

.flex-item-size (@size: 4rem, @padding: 0.25rem) {
    @media @for-phone-only {
        flex-basis: @size;
        padding: @padding;
    }
    @media @for-tablet-portrait-up {
      flex-basis: @size + 1.25;
      padding: @padding * 2;
    }
    @media @for-tablet-landscape-up {
      flex-basis: @size * 1.5;
      padding: @padding * 3;
    }
    @media @for-desktop-up {
      flex-basis: @size * 1.75;
      padding: @padding * 4;
    }
    @media @for-big-desktop-up {
      flex-basis: @size * 5.5;
      padding: @padding * 14;
    }
}

.icon-skill-size (@size: 1rem) {
    @media @for-phone-only {
      font-size: @size * 5.5;
    }
    @media @for-tablet-portrait-up {
      font-size: @size * 6;
    }
    @media @for-tablet-landscape-up {
      font-size: @size * 6.5;
    }
    @media @for-desktop-up {
      font-size: @size * 7;
    }
    @media @for-big-desktop-up {
      font-size: @size * 15;
      padding: 3rem;
    }
}

.icon-caption-size (@size: 0.1rem) {
    font-weight: lighter;
    @media @for-phone-only {
      font-size: @size * 9;
    }
    @media @for-tablet-portrait-up {
      font-size: @size * 9.5;
    }
    @media @for-tablet-landscape-up {
      font-size: @size * 10;
    }
    @media @for-desktop-up {
      font-size: @size * 10.5;
    }
    @media @for-big-desktop-up {
      font-size: @size * 24;
    }
}

.text-font-size (@size: 0.1rem) {
  font-weight: 50;
  @media @for-phone-only {
    font-size: @size * 9;
  }
  @media @for-tablet-portrait-up {
    font-size: @size * 9.5;
  }
  @media @for-tablet-landscape-up {
    font-size: @size * 10;
  }
  @media @for-desktop-up {
    font-size: @size * 10.5;
  }
  @media @for-big-desktop-up {
    font-size: @size * 20;
  }
}