.container-project {
  background-color: #8BA545;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height:20rem;
  padding: 2rem;
}

.container-project h1{
  font-family: Lateef;
  font-size: 4rem;
  font-weight: lighter;
}

.project-item1 {
  flex-basis: 100%;
  margin:0;
}

.project-item2 {
  flex-basis: 15rem;
}

.project-item2 img{
  max-height: 8rem;
}